body {
	background-color: black;
}

.container1 {
	background: white;
	flex-direction: row;
	display: flex;
	margin-top: 15%;
	margin-left: 30%;
	width: 50%;
	border-radius: 10%;
	height: 50vh;
	justify-content: center;
	align-items: flex-end;
	box-shadow: 20px -22px 20px #FCE44F ;
}


.shape1 {
	position: absolute;
	border-radius: 10%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 300px 300px 300px 0;
	border-color: transparent #4FFCDC  transparent transparent;
	opacity: 50%;
	animation-name: size;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes size {
  0%   {top: 0px; width: 100px;}
  50% {top: 100px; width: 250px;}
  100% {top: 0px; width: 100px;}
}

.shape2 {
	position: absolute;
	border-radius: 10%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 200px 300px 100px 0;
	border-color: transparent #BFFC4F   transparent transparent;
	opacity: 30%;
	animation-name: size2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes size2 {
  0%   {top: 0px; width: 100px;}
  50% {top: 400px; width: -100px;}
  100% {top: 0px; width: 100px;}
}

.shape3 {
	position: absolute;
	border-radius: 10%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 300px 200px 500px 0;
	border-color: transparent #FC4FD2  transparent transparent;
	opacity: 80%;
	animation-name: size3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes size3 {
  0%   {top: 0px; width: 100px;}
  50% {top: 40px; width: 200px;}
  100% {top: 0px; width: 100px;}
}

