* {
  box-sizing: border-box;
}

body {
	cursor: url('imgs/mouse.png'), default;
	background: black;
}

.container {
	max-width: 100%;
}



.title {
	font-family: gemeli-mono, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12vw;
	animation: colorchange 2s infinite step-start;
	text-transform: uppercase;
	letter-spacing: 10px;
  	max-width: 62vw;
  	display: flex;
  	margin: auto;
  	padding-top: 35vh;
  	padding-bottom: 95vh;
}


.title span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


@keyframes colorchange {
  0%   {color: #ff36eb;}
  25%   {color: #ba66ff;}
  50%   {color: #36ffeb;}
  75%   {color: #55ff00;}
  100%   {color: #fbff24;}
}


.i1 {
	position: absolute;
    width: 267px;
    top: 2vw;
    left: 24vw;
    transform: rotate(-12deg);
}

.i2 {
    position: absolute;
    width: 237px;
    top: 33vw;
    left: 61vw;
}

@keyframes float {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}


.i3 {
	position: absolute;
    width: 75px;
    top: 74vh;
    left: 36vw;
    animation: float 2s infinite;
}

.i4 {
    position: absolute;
    width: 75px;
    top: 19vh;
    left: 52vw;
    animation: float 2s infinite;
}

.i5 {
    position: absolute;
    width: 75px;
    top: 9vh;
    left: 72vw;
    animation: float 2s infinite;
}

.i6 {
    position: absolute;
    width: 75px;
    top: 61vh;
    left: 2vw;
    animation: float 2s infinite;
}

.i7 {
	position: absolute;
    width: 75px;
   top: 59vh;
    left: 93vw;
    animation: float 2s infinite;
}

.i8 {
    position: absolute;
    width: 75px;
    top: 13vh;
    left: 10vw;
    animation: float 2s infinite;
}












.h1 {
	font-family: gemeli-mono, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 55px;
	color: #55ff00;
	text-transform: uppercase;
	line-height: 60px;
	display: inline;
	z-index: 0;
}

.container1 {
  min-height: 100vh;
  max-width: 62vw;
  display: flex;
  margin: auto;
  justify-content: center;
}

.devil1 {
   position: absolute;
   width: 75px;
   top: 114vh;
   left: 10vw;
   transform: rotate(-6deg);
animation: jello 4s infinite ease;

}

.devil2 {
    position: absolute;
    width: 56px;
    top: 174vh;
    left: 28vw;
    transform: rotate(6deg);
    animation: jello 4s infinite ease;
  
}


.devil3 {
  	position: absolute;
    width: 61px;
    top: 115vh;
    left: 47vw;
    transform: rotate(3deg);
    animation: jello 5s infinite ease ;
 
}

.devil4 {
    position: absolute;
    width: 70px;
    top: 136vh;
    left: 85vw;
    transform: rotate(9deg);
    animation: jello 4s infinite ease;
}

.devil5 {
    position: absolute;
    width: 56px;
    top: 177vh;
    left: 65vw;
    transform: rotate(-8deg);
    animation: jello 3s infinite ease;
}

                   
@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}















.twit-img {
	display: flex;
    width: 35vw;
    top: -13vh;
    margin-left: 12vw;
    position: relative;
}
.insta-img {
	display: flex;
    width: 50vw;
    padding-bottom: 30vh;
    position: relative;
    top: -11.75vw;
    left: 33vw;
}

@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
   transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
   transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.insta-img:hover {
  animation: jello 1s infinite;
}

.twit-img:hover {
	animation: jello 1s infinite;
}

.inimg{
	max-height: .85em;
	display: inline;
	border: 0;
	margin: 0 2px;
}

.inimg:hover {
	transform: scale(5);
}

.intimg{
	max-height: 1.2em;
	display: inline;
	border: 0;
	margin: 0 2px;
}

.intimg:hover {
	transform: scale(8);
}

.question {
	margin: auto;
	max-width: 55vw;
	font-family: gemeli-mono, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	text-transform: uppercase;
	line-height: 60px;
	padding-bottom: 30px;

}

.q1 {
 color: #36ffeb;
}

.q2 {
 color: #ff36eb;
}

.q3 {
 color: #ba66ff;
}

.q4 {
 color: #fbff24;
}

.q5 {
 color: #55ff00;
}

.answer {
	margin: auto;
	max-width: 55vw;
	font-family: helvetica;;
	font-size: 24px;
	color: white;
	line-height: 38px;
	padding-bottom: 50vh;

}


.link {
	color: #55ff00;
	text-decoration: none;
}


.bed {
    position: absolute;
	width: 120px;
    top: 334vh;
    left: 83vw;
    transform: rotate(0deg);
}


.moon {
    position: absolute;
    width: 211px;
    top: 374vh;
    left: 6vw;
    transform: rotate(-17deg);

}

.bed2 {
    position: absolute;
	width: 70px;
    top: 321vh;
    left: 3vw;
    transform: rotate
    transform: rotate(0deg);
    animation: slideright 8s infinite;
}

.bed3 {
    position: absolute;
	width: 70px;
    top: 399vh;
    left: 83vw;
    transform: rotate(0deg);
    animation: slideleft 8s infinite;
}

@keyframes slideleft {
  0%    { right: 0; }
  50%  { left: -9%; }
   100% { left: 100; }

}

@keyframes slideright {
  0%    { right: 0; }
  50%  { left: 100%; }
   100% { right: -10; }

}


.eye1 {
     position: absolute;
    width: 95px;
    top: 458vh;
    left: 7vw;
     animation: spin 2s infinite;
}



.eye2 {
    position: absolute;
    width: 106px;
    top: 495vh;
    left: 82vw;
    animation: spin 6s infinite;
}

.eye3 {
    position: absolute;
    width: 115px;
    top: 507vh;
    left: 12vw;
    animation: spin 3s infinite;
}

.eye4 {
    position: absolute;
    width: 115px;
    top: 432vh;
    left: 78vw;
    animation: spin 3s infinite;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes slideup {
  0%    { top: 540vh; }
   100% { top: 623vh; }

}


.gh1 {
    position: absolute;
    width: 140px;
    top: 597vh;
    left: 6vw;
}


.l1 {
    position: absolute;
    width: 115px;
    top: 540vh;
    left: 82vw;
    animation: slideup 4s infinite;
}



.g1 {
    position: absolute;
    width: 310px;
    top: 658vh;
    left: 81vw;
    overflow: hidden;
}

.g2 {
    position: absolute;
    width: 291px;
    top: 707vh;
    left: 0vw;
    overflow: hidden;
    transform: rotate(180deg);
}

.grh1 {
	position: absolute;
    width: 100px;
    top: 644vh;
    left: 25vw;
    overflow: hidden;
     animation: float 2s infinite;
}

.grh2 {
	position: absolute;
    width: 100px;
    top: 714vh;
    left: 67vw;
    overflow: hidden;
    animation: float 2s infinite;
}



.b1 {
    position: absolute;
    width: 198px;
    top: 776vh;
    left: 6vw;
    overflow: hidden;
    animation: jello 3s infinite;
}

.b2 {
position: absolute;
    width: 198px;
    top: 793vh;
    left: 80vw;
    overflow: hidden;
    animation: jello 2s infinite;
}


.bear2 {
    position: absolute;
    width: 90px;
    top: 878vh;
    left: 80vw;
    overflow: hidden;
    animation: spin 7.5s infinite;

}


.bear1 {
    position: absolute;
    width: 114px;
    top: 886vh;
    left: 8vw;
    overflow: hidden;
    animation: spin 7s infinite;
}

.bear3 {
    position: absolute;
    width: 103px;
    top: 928vh;
    left: 87vw;
    overflow: hidden;
    animation: spin 8s infinite;

}

.mask {
    position: absolute;
    width: 200px;
    top: 919vh;
    left: 7vw;
    overflow: hidden;
}

.bed4 {
    position: absolute;
	width: 70px;
    top: 990vh;
    left: 3vw;
    transform: rotate
    transform: rotate(0deg);
    animation: slideright 8s infinite;
}

.bed5 {
    position: absolute;
    width: 70px;
    top: 1026vh;
    left: 83vw;
    transform: rotate(0deg);
    animation: slideleft 9s infinite;
}

.bed6 {
    position: absolute;
    width: 70px;
    top: 1066vh;
    left: 3vw;
    transform: rotate(0deg);
    animation: slideright 7s infinite;
}

.bag1 {
   position: absolute;
    width: 150px;
    top: 1113vh;
    left: 3vw;
    transform: rotate(0deg);
    animation: pulse 5s infinite;
}

.bag2 {
    position: absolute;
    width: 85px;
    top: 1173vh;
    left: 12vw;
    transform: rotate(-14deg);
    animation: pulse 5.5s infinite;
}

.bag3 {
    position: absolute;
    width: 125px;
    top: 1143vh;
    left: 80vw;
    transform: rotate(-10deg);
    animation: pulse 5s infinite;
}


.bag4 {
    position: absolute;
    width: 130px;
    top: 1187vh;
    left: 63vw;
    transform: rotate(-3deg);
    animation: pulse 5.5s infinite;
}


.bag5 {
	position: absolute;
    width: 90px;
    top: 1117vh;
    left: 43vw;
    transform: rotate(-13deg);
    animation: pulse 5s infinite;
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1.55);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.devil6 {
   position: absolute;
   width: 75px;
    top: 1234vh;
   left: 10vw;
   transform: rotate(-6deg);
animation: jello 4s infinite ease;

}

.devil7 {
    position: absolute;
    width: 56px;
	top: 1306vh;
    left: 28vw;
    transform: rotate(6deg);
    animation: jello 4s infinite ease;
  
}


.devil8 {
  	position: absolute;
    width: 61px;
    top: 1219vh;
    left: 47vw;
    transform: rotate(3deg);
    animation: jello 5s infinite ease ;
 
}

.devil9 {
    position: absolute;
    width: 70px;
    top: 1236vh;
    left: 85vw;
    transform: rotate(9deg);
    animation: jello 4s infinite ease;
}

.devil10 {
    position: absolute;
    width: 56px;
    top: 1310vh;
    left: 65vw;
    transform: rotate(-8deg);
    animation: jello 3s infinite ease;
}

.mooon1 {
    position: absolute;
    width: 156px;
    top: 1402vh;
    left: 65vw;
    transform: rotate(-8deg);
    animation: spins 3s infinite ease;
}

.mooon2 {
position: absolute;
    width: 130px;
    top: 1346vh;
    left: 83vw;
    transform: rotate(-39deg);
    animation: spins 3s infinite ease;
}

.mooon3 {
    position: absolute;
    width: 140px;
    top: 1378vh;
    left: 9vw;
    transform: rotate(124deg);
    animation: spins 3s infinite ease;
}


@keyframes spins {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}



.mr1 {
    position: absolute;
    width: 198px;
    top: 1451vh;
    left: 6vw;
    overflow: hidden;
    animation: jello 3s infinite;
}

.mr2 {
position: absolute;
    width: 198px;
    top: 1475vh;
    left: 80vw;
    overflow: hidden;
    animation: jello 2s infinite;
}




.moo1 {
    position: absolute;
	width: 125px;
    top: 1534vh;
    left: 83vw;
    transform: rotate
    transform: rotate(0deg);
    animation: slideleft 8s infinite;
}



.moo2 {
    position: absolute;
    width: 125px;
    top: 1618vh;
    left: 3vw;
    transform: rotate(0deg);
    animation: slideright 7s infinite;
}


.end {
	font-family: gemeli-mono, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 10vw;
	animation: colorchange 2s infinite step-start;
	text-transform: uppercase;
	letter-spacing: 10px;
  	max-width: 62vw;
  	display: flex;
  	margin: auto;
  	padding-bottom: 20vh;
  	justify-content: center;
}

@media (max-width: 935px) {

.answer {

	max-width: 55vw;

	font-size: 15px;

}


.question {

	max-width: 55vw;

	font-size: 30px;

}

}


@media print { 



html {
 background-color: black !important;
  -webkit-print-color-adjust: exact !important;
height: 80vh;

}

.body {
	z-index: 1;
}

img {
	z-index: 0 !important; 
}

.title {
	animation: none;
	color: #55ff00;
}


}



