body{
	background-color: plum;
	font-family: futura;
	font-size: 30px;
	text-align: center;
}
h1 {

}
.question-container {
	opacity: 30%;
	background-color: pink;
	padding: 20px;
	text-align: left;
	border-radius: 33px;
}

.question-container:hover {
	opacity: 100%;
}


.question {
	font-family: futura;
	font-size: 35px;

}
.answer {
	font-size: 20px;
	color: white;
	margin-top: 10px;
}

img {
	width: 50%;
}

a {
	font-family: futura;
	font-size: 35px;
	color: white;
}