* {
  box-sizing: border-box;
}


@font-face {
  font-family: "phaseg";
  src: url("./fonts/phaseg.woff") format("woff"), /* Modern Browsers */
  url("./fonts/phaseg.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
 cursor: url('mouse.png'), default;
  background-color: black;
  font-family: "phaseg";


}


.title{
position: relative;
 color: #489616;
 font-family: "phaseg";
 font-size: 3vh;
 text-align: center;
 margin-top: 4vw;
 margin-bottom: 10vh;
}


.srq{
font-size: 4.5vh;
}


.scroll {
  overflow: scroll;
  white-space: nowrap;
}

.parent {
margin: 0 auto;
position: relative;
display: inline-flex;

}

.parent img {
  width: 35vw;
}



.gif {
  width: 100%; 
}


.enter{
position: relative;
 color: #489616;
 font-family: "phaseg";
 font-size: 2vh;
 text-align: center;
 margin-top: 10vh;
  margin-bottom:  4vh;
 padding-left:13vw; 
 padding-right:13vw;
}

a {
	color: #489616; 
}



