body{
	margin-left: 3vw;
}

h1 {
	text-align: center;
	color: black;
	font-style: bold;
	font-family: monaco;
	font-size: 35px;
	margin-bottom: 5vh;
}

button {
	opacity: 75%;
	background-color: black; 
	border-radius: 30px;
  	color: white;
 	padding: 3vh 3vw;
  	text-align: center;
  	font-family: monaco;
  	font-style: italic;
  	font-size: 35px;
   	-webkit-animation: rainbow 5s infinite; 
}

button:hover {
	opacity: 100%;
	font-size: 85px;
	background: white;
}

.hover {
  background: radial-gradient(circle, rgba(212,218,148,1) 0%, rgba(245,170,186,1) 100%);
  opacity: 85%;
}

@-webkit-keyframes rainbow{
  	10%{color: purple;}	
	20%{color: lightpink;}
  	30%{color: lightblue;}
	40%{color: palegoldenrod;}
  	50%{color: coral;}
	60%{color: lightgreen;}
  	70%{color: skyblue;}
  	80%{color: lavender;}
  	90%{color: plum;}
	100%{color: aliceblue;}
}
