/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
}

/* Your CSS goes here */


.table {
  position: absolute;
  width: 62vw;
  height: 16vw;
  background: tan;
  top: 21vw;
  left: 18vw;
  transform: skewY(-19deg) rotate(199deg);
  z-index: 0;
}

.camera {
  width: 7vw;
  height: 5vw;
  background: black;
  top: 28vw;
  position: absolute;
  left: 24vw;
  z-index: 1;
}

.lens {
  width: 3vw;
  height: 3vw;
  background: grey;
  top: 1vw;
  position: absolute;
  left: 2vw;
  z-index: 2;
  border-radius: 50%;
}

.button {
  width: 1vw;
  height: 1vw;
  background: black;
  top: -1vw;
  position: absolute;
  left: 1vw;
  z-index: 1;
}

.book-1 {
  position: absolute;
  width: 15vw;
  height: 4vw;
  background: turquoise;
  top: 29vw;
  left: 33vw;
  z-index: 1;
}

.book-2 {    
  position: absolute;
  width: 10vw;
  height: 1vw;
  background: grey;
  top: 28vw;
  left: 33vw;
  z-index: 2
}

.vase {
  display: block;
  width: 6vw;
  height: 6vw;
  background-color: linen;
  top: 22vw;
  left: 34vw;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  position: absolute;
  z-index: 3;
}


.flower1 {
  position: absolute;
  width: .5vw;
  height: 5vw;
  background-color: green;
  top: -5vw;
  left: 2vw;
  transform: rotate(-8deg);
}


.flower2 {
  position: absolute;
  width: .5vw;
  height: 3.1vw;
  background-color: lightgreen;
  top: -3vw;
  left: 2vw;
  transform: rotate(-13deg);
}

.flower3 {
  position: absolute;
  width: .5vw;
  height: 5vw;
  background-color: green;
  top: -5vw;
  left: 2.9vw;
  transform: rotate(2deg);
}

.flower4 {
  position: absolute;
  width: .5vw;
  height: 4.1vw;
  background-color: lightgreen;
  top: -4vw;
  left: 3vw;
  transform: rotate(8deg);
}


.leaf1 {
  position: absolute;
  width: 1vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: pink;
  top: -4.5vw;
  left: 3vw;
  transform: rotate(8deg);
}


.leaf2 {
  position: absolute;
  width: 1vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: pink;
  top: -4vw;
  left: 1.5vw;
  transform: rotate(8deg);
}



.leaf3 {
  position: absolute;
  width: 1vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: pink;
  top: -6.25vw;
  left: 2.75vw;
  transform: rotate(8deg);
}

.leaf4 {
  position: absolute;
  width: 1vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: pink;
  top: -5.75vw;
  left: 1.5vw;
  transform: rotate(8deg);
}

.cat {
  position: absolute;
  width: 5vw;
  height: 7vw;
  background: white;
  top: 26vw;
  left: 51vw;
  z-index: 2;
  border-radius: 30%;
}

.eye1 {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background: black;
  border-radius: 50%;
  left: 1vw;
  top: 1vw;
}

.eye2 {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background: black;
  border-radius: 50%;
  left: 3vw;
  top: 1vw;
}

.collar {
  position: absolute;
  width: 5vw;
  height: 1vw;
  background: red;
  left: 0vw;
  top: 3vw;
}

.bell {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background: yellow;
  border-radius: 50%;
  left: 2vw;
  top: 3vw;
}

.book-3 {
  position: absolute;
  width: 8vw;
  height: 11vw;
  background: lightgrey;
  top: 23vw;
  left: 61vw;
  z-index: 1;
}


.book-3shadow {
  position: absolute;
  width: 7vw;
  height: 11vw;
  background: grey;
  top: 23vw;
  left: 61vw;
  z-index: 1;
}


.ear1 {
  display: block;
  width: 1vw;
  height: 2vw;
  background-color: white;
  top: -1vw;
  left: 3vw;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  position: absolute;
  z-index: 3;

}


.ear2 {
  display: block;
  width: 1vw;
  height: 2vw;
  background-color: white;
  top: -1vw;
  left: 1vw;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  position: absolute;
  z-index: 3;

}


